<div class="container">
    <div class="video-container" *ngFor="let video of videos">
        <div class="video-card" [appHighlight2]="video.likes === mostLikedVideo.likes">
            <div>
                <img [src]="video.thumbnail" style="width:220px; height:210px">
            </div>
            <div><h4>{{video.title}}</h4></div>
            <div class="details">
                <div class="video-data">
                    <span class="material-icons">thumb_up</span>{{video.likes}}
                </div>
                <div class="video-data">
                    <span class="material-icons">thumb_down</span>{{video.dislike}}
                </div>
                <div class="video-data">
                    <span class="material-icons">wifi_protected_setup</span>{{video.share}}
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary" (click)="displayNotice()">Show Paragraph</button>
<div class="container-horizontal">
    <div *appIf="display">
        <p>This test paragraph will not be displayed 1</p>
    </div>
    <div >
        <p>This test paragraph will be displayed 2</p>
    </div>
    <div >
        <p>This test paragraph will be displayed 3</p>
    </div>
</div>

<div class="container-horizontal" [ngSwitch]="occupation">
    <div *appIf="display">
        <p>This test paragraph will not be displayed 1</p>
    </div>
    <div *ngSwitchCase="'student'" class="switch">
        <p>This paragraph will be displayed if occuptaion is student</p>
    </div>
    <div *ngSwitchCase="'worker'" class="switch">
        <p>This paragraph will be displayed if occuptaion is worker</p>
    </div>
    <div *ngSwitchDefault class="switch">
        <p>This paragraph will be displayed if occuptaion is not student nor worker</p>
    </div>
</div>