<div class="course-container" >
    <div>
        <img src="{{course.image}}" width="560" height="280" >
    </div>
    <div>
        <h1 style="text-align:center;" *ngIf="!editMode">{{course.name}}</h1>
        <div style="text-align:center;" *ngIf="editMode">
            <input type="text" [(ngModel)]="course.name" />
        </div>
    </div>
    <div class="course-details">
        <div style="margin: 0px 10px;"><b>Author:</b> {{course.author}}</div>
        <div style="margin: 0px 10px;"><b>Duration:</b> {{course.duration}} hourse</div>
        <div style="margin: 0px 10px;"><b>Type:</b> {{course.type}}</div>
    </div>
    <!-- <a [routerLink]="['/example9/course', 101]">Go to first course</a> -->
    <!-- <button [routerLink]="['/example9/course', course.id]" [queryParams]="{edit: true}">Edit</button> -->
    <button (click)="appendQueryParam()">Edit</button>
    <button (click)="editMode=false" [routerLink]="['/example9/course', course.id]">Update</button>
</div>